
@font-face {
  font-family: 'Font1';
  src: URL('fonts/fall.ttf') format('truetype');
}

@font-face {
  font-family: 'Font2';
  src: URL('fonts/happy_ending.ttf') format('truetype');
}


@font-face {
  font-family: 'Font3';
  src: URL('fonts/smile.ttf') format('truetype');
}

@font-face {
  font-family: 'Font4';
  src: URL('fonts/bromine.ttf') format('truetype');
}

@font-face {
  font-family: 'Font5';
  src: URL('fonts/comic_khazi.otf') format('opentype');
}

@font-face {
  font-family: 'Intro';
  src: URL('fonts/traveling_typewriter.ttf') format('truetype');
}
