body {
	background-color: #222222;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#vis-wrapper {
    width: 100%;
    height: 100%;
}


#bg-img, #cloud, #leaves, #vines {
    position: absolute;
    top: 0;
    left: 0;
}


#cloud {
    z-index: 20;
    -webkit-animation: breathing 12s ease-out infinite normal;
    animation: breathing 12s ease-out infinite normal;
}

.bg {
    z-index: 40;
}

.shape {
	position: relative;
}

.preproc {
	display: none;
}

#canvas-city {
	opacity: 0.17;
}

#canvas-garden {
	opacity: 0.3;
}

#machine_gun {
	width: 1500px;
	height: 1200px;
	margin-top: -200px;
	margin-left: 200px;
}

#bombing {
	width: 1900px;
	height: 1000px;
}

#heart {
	width: 1200px;
	height: 1000px;
	margin-left: 350px;
}

#house {
	width: 1000px;
	height: 750px;
	margin-left: 350px;
}

#family {
	width: 1200px;
	height: 900px;
	margin-left: 350px;
}

#stop_sign {
	margin-left: 470px;
	margin-top: 50px;
	width: 1000px;
	height: 800px;
	transform: scale(1.3);
}

#ma4 {
    width: 1920px;
    height: 1080px;
}

#syria_map {
	width: 1200px;
	height: 1000px;
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }


  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }



  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
