body {
	background-color: #222222;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#vis-wrapper {
    width: 100%;
    height: 100%;
}


#bg-img, #cloud, #leaves, #vines {
    position: absolute;
    top: 0;
    left: 0;
}


#cloud {
    z-index: 20;
    /*-webkit-animation: breathing 12s ease-out infinite normal;
    animation: breathing 12s ease-out infinite normal;*/
}

#audio-toggle {
	position: absolute;
	display: none;
	top: 94vh;
	left: 1vw;
	background-image: url("../../audio.png");
	background-size: cover;
	cursor: pointer;
	width: 1.8vw;
	height: 1.8vw;
	z-index: 100;
	opacity: 0.7;
}

#logo {
	position: absolute;
	top: 7vh;
	left: 35.5vw;
	width: 30vw;
	height: 20vh;
	z-index: 100;
}

#intro-subtitle {
	position: absolute;
	font-size: 1.2vw;
	font-family: "Font5";
	color: white;
	left: 42.4vw;
	top: 29vh;
	opacity: 0.8;
	user-select: none;
}

#intro-text {
	position: absolute;
	font-size: 1.2vw;
	font-family: "Intro";
	color: white;
	left: 25vw;
	top: 37vh;
	width: 50vw;
	opacity: 0.8;
	user-select: none;
}

.option-button {
	text-shadow: 0 0.05vw 0 rgba(0,0,0,0.5);
	color: #FFF;
	text-transform: uppercase;
	user-select: none;
	cursor: pointer;
	letter-spacing: 0.1vw;
	font-family: "Intro";
	border-radius: 0.26vw;
	-moz-border-radius: 0.26vw;
	-webkit-border-radius: 0.26vw;
	border: 0.05vw solid rgba(0,0,0,0.3);
	border-bottom-width: 0.156vw;
}

#intro-button{
	position: absolute;
	left: 46vw;
	top: 78vh;
	font-size: 1.4vw;
	padding: 1.1vh 2.3vw;
	background-color: #d85049;
}

#intro-button:hover {
	background-color: #bf362f;
	border-color: rgba(0,0,0,0.5);
}

#intro-button:active {
	background-color: #932722;
	border-color: rgba(0,0,0,0.9);
}

#tech-report-button{
	position: absolute;
	left: 43.8vw;
	top: 89vh;
	padding: 0.7vh 1.7vw;
	font-size: 0.9vw;
	background-color: #9e7f7d;
}

#tech-report-button:hover {
	background-color: #a76966;
	border-color: rgba(0,0,0,0.5);
}

#tech-report-button:active {
	background-color: #864e4c;
	border-color: rgba(0,0,0,0.9);
}

#hint-text {
	position: absolute;
	font-size: 1.2vw;
	font-family: "Intro";
	color: white;
	left: 25vw;
	top: 87vh;
	width: 50vw;
	opacity: 0.8;
	user-select: none;
}

.tweet {
	color: white;
	font-size: 1.56vw;
	width: 50vw;
	font-family: "Font8";
	text-align: center;
	user-select: none;
	z-index: 80;
	-webkit-animation: tweet 12s linear 1 forwards;
	animation: tweet 12s linear 1 forwards;
	position: absolute;
}

.chosen-word {
	color: #ff3a4a;
}

.bg {
    z-index: 40;
	text-align: center;
}

.shape {
	position: relative;
}

.preproc {
	display: none;
}

.canvas-city {
	opacity: 0.17;
}

.canvas-garden {
	opacity: 0.3;
}

#div-fire {
	background-image: url("../img/fire.gif");
	width:100vw;
    height:100vh;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:left bottom;
	filter:blur(2px);
}

#machine_gun {
	width: 78.125vw;
	height: 111.111vh;
	margin-top: -11.52vh;
	margin-left: 10.41vw;
}

#bombing {
	width: 98.96vw;
	height: 92.59vh;
	margin-top: 4vh;
}

#heart {
	width: 62.5vw;
	height: 92.6vh;
	margin-left: 18.2vw;
	margin-top: 3vh;
}

#house {
	width: 52.08vw;
	height: 69.4vh;
	margin-left: 18.2vw;
}

#family {
	width: 62.5vw;
	height: 83.3vh;
	margin-left: 18.2vw;
	margin-top: 6vh;
}

#stop_sign {
	margin-left: 24.48vw;
	margin-top: 11vh;
	width: 52.1vw;
	height: 74.1vh;
	transform: scale(1.3);
}



#syria_map {
	width: 62.5vw;
	height: 92.6vh;
	margin-left: 20.83vw;
	margin-top: 2vh;
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }


  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }



  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


@keyframes tweet {
  0% {
    transform: scale(0.8);
	opacity: 0;
  }


  10% {
    transform: scale(0.84);
	opacity: 1;
  }

  90% {
	  transform: scale(1.16);
	  opacity: 1;
  }


  100% {
    transform: scale(1.2);
	opacity: 0;
  }
}

/************************************/
/*** Checkbox for toggling audio: ***/
/************************************/

/* Customize the label (the container) */
.checkbox {
  display: block;
  position: absolute;
  left: 45.5vw;
  top: 70vh;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2vw;
  font-family: "Intro";
  color: white;
  opacity: 0.8;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.35vw;
  width: 1.35vw;
  background-color: #ffb1ad;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #db847f;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #d85049;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 0.47vw;
  top: 0.26vw;
  width: 0.26vw;
  height: 0.52vw;
  border: solid white;
  border-width: 0 0.16vw 0.16vw 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
