body {
	background-color: #222222;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#vis-wrapper {
    width: 100%;
    height: 100%;
}


#bg-img, #cloud, #leaves, #vines {
    position: absolute;
    top: 0;
    left: 0;
}


#cloud {
    z-index: 20;
    /*-webkit-animation: breathing 12s ease-out infinite normal;
    animation: breathing 12s ease-out infinite normal;*/
}

.tweet {
	color: white;
	font-size: 1.56vw;
	width: 50vw;
	font-family: "Font8";
	text-align: center;
	user-select: none;
	z-index: 80;
	-webkit-animation: tweet 12s linear 1 forwards;
	animation: tweet 12s linear 1 forwards;
	position: absolute;
}

.chosen-word {
	color: #ff3a4a;
}

.bg {
    z-index: 40;
}

.shape {
	position: relative;
}

.preproc {
	display: none;
}

#canvas-city {
	opacity: 0.17;
}

#canvas-garden {
	opacity: 0.3;
}

#div-fire {
	background-image: url("../img/fire.gif");
	width:100vw;
    height:100vh;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:left bottom;
	filter:blur(2px);
}

#machine_gun {
	width: 78.125vw;
	height: 111.111vh;
	margin-top: -11.52vh;
	margin-left: 10.41vw;
}

#bombing {
	width: 98.96vw;
	height: 92.59vh;
	margin-top: 4vh;
}

#heart {
	width: 62.5vw;
	height: 92.6vh;
	margin-left: 18.2vw;
	margin-top: 3vh;
}

#house {
	width: 52.08vw;
	height: 69.4vh;
	margin-left: 18.2vw;
}

#family {
	width: 62.5vw;
	height: 83.3vh;
	margin-left: 18.2vw;
	margin-top: 6vh;
}

#stop_sign {
	margin-left: 24.48vw;
	margin-top: 11vh;
	width: 52.1vw;
	height: 74.1vh;
	transform: scale(1.3);
}



#syria_map {
	width: 62.5vw;
	height: 92.6vh;
	margin-left: 20.83vw;
	margin-top: 2vh;
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }


  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }


  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }



  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


@keyframes tweet {
  0% {
    transform: scale(0.8);
	opacity: 0;
  }


  10% {
    transform: scale(0.84);
	opacity: 1;
  }

  90% {
	  transform: scale(1.16);
	  opacity: 1;
  }


  100% {
    transform: scale(1.2);
	opacity: 0;
  }
}
